
<br>
<div class="container">
  <div class="jumbotron"> <!-- Indica uma caixa grande para chamar a atenção extra para algum conteúdo -->
    <h1 class="display-6">Usuários</h1>
    <p class="lead-1">Inclusão de um novo usuário</p>
    <hr class="my-2"> <!-- Adiciona uma linha abaixo para divisão -->
  </div>

  <form [formGroup]="meuForm" (submit)="onSubmit()">
    <br>
    <div class="row d-flex justify-content-center"><!-- centraliza -->
        <div>
            <div class="form-group">
                <label>Nome do usuário</label>
                <input type="text" class="form-control" formControlName="nome" placeholder="Digite o nome">
            </div>
            <app-mostrar-mensagem
              [controles]="meuForm.controls['nome']" [mensagem]="'Erro ao preencher campo'">
            </app-mostrar-mensagem>
        </div>
    </div>

    <div class="row d-flex justify-content-center"><!-- centraliza -->
      <div>
          <div class="form-group">
              <label>CPF</label>
              <input type="text" class="form-control" formControlName="cpf" placeholder="Digite o cpf">
          </div>
          <app-mostrar-mensagem
            [controles]="meuForm.controls['cpf']" [mensagem]="'Erro ao preencher campo'">
          </app-mostrar-mensagem>
      </div>
    </div>
    <div class="row d-flex justify-content-center"><!-- centraliza -->
      <div>
          <div class="form-group">
              <label>Data de nascimento</label>
              <input type="text" class="form-control" formControlName="dataNasc" placeholder="Ex: dd/mm/aaaa">
          </div>
          <app-mostrar-mensagem
            [controles]="meuForm.controls['dataNasc']" [mensagem]="'Erro ao preencher campo'">
          </app-mostrar-mensagem>
      </div>
    </div>

    <div class="row d-flex justify-content-center"><!-- centraliza -->
      <div>
          <div class="form-group">
              <label>Endereco</label>
              <input type="text" class="form-control" formControlName="endereco" placeholder="Digite o endereço">
          </div>
          <app-mostrar-mensagem
            [controles]="meuForm.controls['endereco']" [mensagem]="'Erro ao preencher campo'">
          </app-mostrar-mensagem>
      </div>
    </div>

    <div class="row d-flex justify-content-center"><!-- centraliza -->
      <div>
          <div class="form-group">
              <label>Telefone</label>
              <input type="number" class="form-control" formControlName="telefone" placeholder="Digite o telefone">
          </div>
          <app-mostrar-mensagem
            [controles]="meuForm.controls['telefone']" [mensagem]="'Erro ao preencher campo'">
          </app-mostrar-mensagem>
      </div>
    </div>

    <div  class="gap-2">
      <button type="submit" class="btn btn-primary">Enviar</button> <!-- 'primary' deixa o botão azul-->
      <button type="reset" class="btn btn-primary">Limpar</button> <!-- 'primary' deixa o botão azul-->
      <a routerLink="/usuarios" class="btn btn-outline-secondary">Cancelar</a>
    </div>
  </form>
</div>

<!-- Subindo no gitlab-->
