<br>
<div class="container">

  <div class="jumbotron"> <!-- Indica uma caixa grande para chamar a atenção extra para algum conteúdo -->
      <h1 class="display-6">Vacinas</h1>
      <p class="lead-1">Inclusão de uma nova vacina</p>
      <hr class="my-2"> <!-- Adiciona uma linha abaixo para divisão -->
  </div>

  <form [formGroup]="meuForm" (submit)="onSubmit()">
    <br><br>
    <div class="row d-flex justify-content-center"><!-- centraliza -->
        <div>
            <div class="form-group">
                <label>Nome da Vacina</label>
                <input type="text" class="form-control" formControlName="nome" placeholder="Digite o nome">
            </div>
            <app-mostrar-mensagem
              [controles]="meuForm.controls['nome']" [mensagem]="'Erro ao preencher campo'">
            </app-mostrar-mensagem>
        </div>
    </div>

    <div class="row d-flex justify-content-center"><!-- centraliza -->
      <div>
          <div class="form-group">
              <label>Fabricante</label>
              <input type="text" class="form-control" formControlName="fabricante" placeholder="Digite o nome do fabricante">
          </div>
          <app-mostrar-mensagem
            [controles]="meuForm.controls['fabricante']" [mensagem]="'Erro ao preencher campo'">
          </app-mostrar-mensagem>
      </div>
    </div>

    <div class="row d-flex justify-content-center"><!-- centraliza -->
      <div>
          <div class="form-group">
              <label>Quantidade de Doses</label>
              <input type="text" class="form-control" formControlName="qntDoses" placeholder="Digite a quantidade de doses">
          </div>
          <app-mostrar-mensagem
            [controles]="meuForm.controls['qntDoses']" [mensagem]="'Erro ao preencher campo'">
          </app-mostrar-mensagem>
      </div>
    </div>

    <div class="row d-flex justify-content-center"><!-- centraliza -->
      <div>
          <div class="form-group">
              <label>Intervalo de uma doses para outra</label>
              <input type="text" class="form-control" formControlName="intervalo" placeholder="Digite o intervalo">
          </div>
          <app-mostrar-mensagem
            [controles]="meuForm.controls['intervalo']" [mensagem]="'Erro ao preencher campo'">
          </app-mostrar-mensagem>
      </div>
    </div>
    <br>

    <div  class="gap-2">
      <button type="submit" class="btn btn-primary">Enviar</button> <!-- 'primary' deixa o botão azul-->
      <button type="reset" class="btn btn-primary">Limpar</button> <!-- 'primary' deixa o botão azul-->
      <a routerLink="/vacinas" class="btn btn-outline-secondary">Cancelar</a>
    </div>

  </form>
</div>
<!-- Subindo no gitlab-->
